<h1>Listing users</h1>

<p>
<%= link_to '新建用户', new_user_path, :class => "btn" %>
</p>

  <table class="table table-bordered table-striped" id="sortable" data-update_url = <%= users_sort_path%> >
  <tr>
    <th>Name</th>
    <th>排序号</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr data-item_id = <%= "#{user.id}" %> class = 'item' >
    <td><%= user.name %></td>
    <td><%= user.row_order_position %></td>
    <td><%= link_to 'Show', user ,:class => 'btn'%></td>
    <td><%= link_to 'Edit', edit_user_path(user), :class => "btn btn-primary" %></td>
    <td><%= link_to 'Del', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />
