// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sortable {
  tr.item {
    cursor: row-resize;
  }
}
